@font-face {
  font-family: 'NanumSquare';
  src: url(../font/NanumSquareOTFRegular.woff) format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'NanumSquare';
  src: url(../font/NanumSquareOTFBold.woff) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'TTHoves';
  src: url(../font/TTHoves-Medium.woff) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'TTHoves';
  src: url(../font/TTHoves-DemiBold.woff) format('woff2');
  font-weight: 700;
}