#header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  --height: 0;
  &::after{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: var(--height);
    z-index: -100;
    background-color: rgba(255, 255, 255, 0.98);
    content: '';
  }
  a{
    display: block;
    padding: 0 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.36px;
    &:hover{
      .item-text::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #000;
      }
    }
    .item-text{
      position: relative;
    }
  }
  .inner{
    position: relative;
    display: flex;
    height: var(--header-height);
    width: 100%;
    padding: 0 104px 0 98px;
    max-width: 1920px;
    margin: 0 auto;
    @include pc{
      justify-content: space-between;
      align-items: center;
      padding: 0 22px;
    }
  }
  .logo{
    display: flex;
    align-items: center;
    a{
      @extend .pc-sp;
      display: block;
      background-position: -105px 0px;
      width: 223px;
      height: 35px;
      @include pc{
        background-image: url('../images/sp-02.png');
        background-size: 195px 181px;
        background-position: 0px 0px;                                                                    
        width: 160px;
        height: 23px;

      }
    }
  }
  .group-util{
    display: flex;
    margin-left: auto;
    @include pc{
      display: none;
    }
    .util-area{
      display: flex;
      align-items: center;
      ul{
        display: flex;
      }
    }
    .language-area{
      position: relative;
      display: flex;
      align-items: center;
      &.active{
        .list{
          display: block;
        }
        .ico-arrow{
          transform: rotate(180deg);
        }
      }
      .link{
        display: flex;
        align-items: center;
        gap: 3px;
      }
      .list{
        display: none;
        position: absolute;
        top: 100%;
        background: #fff;
      }
      .ico-arrow{
        @extend .pc-sp;
        background-position: -122px -93px;
        width: 10px;
        height: 6px;
      }
    }
  }
  .btn-menu{
    display: none;
    @include pc{
      
      background-image: url('../images/sp-02.png');
      background-size: 195px 181px;
      background-position: 0px 0px;
      display: block;
      background-position: -85px -28px;
      width: 20px;
      height: 14px;
      &.close{
        background-position: -85px -49px;
        width: 15px;
        height: 15px;
      }
    }
  }

 
}
.side-nav{
  display: none;
  overflow: auto;
  
  @include pc{
    display: block;
    position: fixed;
    top: var(--header-height);
    // height: calc(100vh - var(--header-height));
    right: 0;
    bottom: 0;
    background: hsl(0, 0%, 100%);
    width: 100%;
    transform: translateX(100%);
    transition: .3s;
    .list{
      // padding: 11px 0 9px;
      &:not(:first-child){
        position: relative;
        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 22px;
          right: 22px;
          height: 1px;
          background-color: #d0d0d0;
        }
      }
     
      li{
        font-size: 22px;
        line-height: 46px;
        letter-spacing: -0.44px;
      }
      
   
    }
 
    .has-child{
      &.active{
        background-color: #f2f2f2;
        .sub{
          display: block;
        }
        .tit{
         &::after{
          transform: rotate(-180deg);
         } 
        }
      }
      .tit{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          top: 20px;
          display: inline-block;
          margin-left: 4px;
          background-image: url(../images/sp-02.png);
          background-size: 195px 181px;
          background-position: -136px -49px;
          width: 10px;
          height: 6px;
        }
      }
      .sub{
        display: none;
        padding: 3px 22px 15px;
        background: #fff;
      }
      .sub-item{
        margin-top: 13px;
      }
      .sub-tit{
        display: block;
        padding-left: 20px;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.36px;
      }
    }
    
    &.show{
      transform: translateX(0);
    }
  }
}

#sideNav{
  .list{
    padding: 10px 0;
    &:nth-child(1){
      padding-top: 0;
    }
    .tit{
      display: block;
      padding: 0 22px;
      font-size: 22px;
      line-height: 46px;
      letter-spacing: -0.44px;
    }
  }
  .language-list{
    padding-top: 19px;
    .item{
      &.active{
      .tit{
          &::before{
            background: #000;
            border: none;
          }   
        }
    }
    }
    .tit{
      display: flex;
      align-items: center;
      margin-bottom: 9px;
      font-size: 18px;
      letter-spacing: -0.36px;
      line-height: 28px;
     
      &::before{
        content: "";
        margin-right: 10px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid #d0d0d0;
      }
      
    }
  }
}
.hidden{
  overflow: hidden;
}
#gnb{
  margin-left: 29px;
  @include pc{
    display: none;
  }
  .depth1{
    display: flex;
    
    .depth1-item{
      display: flex;
      align-items: center;
      height: 64px;
    }
  }
  .depth2{
    // display: none;
    position: absolute;
    top: 64px;
    padding: 15px 0;
    opacity: 0;
    visibility: hidden;
    &.on{
      opacity: 1;
      visibility: visible;
    }
    a{
      padding: 3px 13px;
    }
  }
}